{% extends 'base.html' %}
{% include 'header.html' %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %} GLIDER UPDATE {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col md-12">
                <div class="jumbotron p-3">

                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-success alert-dismisable" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                                        <span aria-hidden="true">x</span>
                                    </button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}

                    <form  method="POST">
                        {{ form.hidden_tag() }}
                              <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
                                  <h1 class="pt-5 pb-2">Update Flight</h1>
                                  {{ wtf.form_field(form.sheet_number) }}
                                  {{ wtf.form_field(form.flt_class) }}
                                  {{ wtf.form_field(form.to_date) }}
                                  {{ wtf.form_field(form.to_time) }}
                                  {{ wtf.form_field(form.ld_time) }}
                                  {{ wtf.form_field(form.aircraft) }}
                                  {{ wtf.form_field(form.pilot_initials) }}
                                  {{ wtf.form_field(form.heavy) }}

                                  <p class="pt-5"><strong>{{ message }}</strong></p>
                                 <button class="btn-primary btn-xs" type="submit">Update</button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}