{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} PILOTS {% endblock %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col md-12">
                <div class="jumbotron p-3">
                    <h2> Manage <b>Pilots</b>
                        <button type="button" class="btn btn-success float-right"
                                data-toggle="modal" data-target="#mymodal"> Add New Pilots
                        </button>
                    </h2>

                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-success alert-dismisable" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                                        <span aria-hidden="true">x</span>
                                    </button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}

                    <table class="table table-hover table-dark">
                        <tr>
                            <th>Initials</th>
                            <th>Name</th>
                            <th>email</th>
                            <th>Phone</th>
                            <th>Club Member</th>
                            <th>Contact</th>
                        </tr>

                        {% for row in pilots_data %}
                            <tr>
                                <td>{{ row.pilot_initials }}</td>
                                <td>{{ row.pilot_name }}</td>
                                <td>{{ row.email }}</td>
                                <td>{{ row.phone }}</td>
                                <td>{{ row.club_member }}</td>
                                <td>{{ row.contact }}</td>
                                <td>
                                    <a href="/pilot/update/{{ row.id }}" class="btn btn-warning btn-xs"
                                       data-toggle="modal" data-target="#modaledit{{ row.id }}">Update</a>
                                    <a href="/pilot/delete/{{ row.id }}" class="btn btn-danger btn-xs"
                                       onclick="return confirm('Are you sure?')"> Delete</a>
                                </td>
                            </tr>

                            <div id=modaledit{{ row.id }} class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Update Pilot</h4>
                                        </div>

                                        <div class="modal-body">
                                            <form action="{{ url_for('pilot_update') }}" method="POST">

                                                <div class="form-group">
                                                    <label> Id:</label>
                                                    <input type="hidden" name="id" value="{{ row.id }}">
                                                    <input type="text" class="form-control" name="id">
                                                </div>

                                                <div class="form-group">
                                                    <label> Initials(2):</label>
                                                    <input type="text" class="form-control" name="pilot_initials"
                                                           value="{{ row.pilot_initials }}">
                                                </div>

                                                <div class="form-group">
                                                    <label> Name:</label>
                                                    <input type="text" class="form-control" name="pilot_name"
                                                           value="{{ row.pilot_name }}">
                                                </div>


                                                <div class="form-group">
                                                    <label> email</label>
                                                    <input type="email" class="form-control" name="email"
                                                           value="{{ row.email }}">
                                                </div>

                                                <div class="form-group">
                                                    <label> phone:</label>
                                                    <input type="phone" class="form-control" name="phone"
                                                           value="{{ row.phone }}">
                                                </div>
                                                <div class="form-group">
                                                    <label> Club Member:</label>
                                                    <input type="text" class="form-control" name="club_member"
                                                           value="{{ row.club_member }}">
                                                </div>
                                                <div class="form-group">
                                                    <label> Contact:</label>
                                                    <input type="text" class="form-control" name="contact"
                                                           value="{{ row.contact }}">
                                                </div>                                                <div class="form-group">
                                                    <button class="btn-primary" type="submit">Update</button>
                                                </div>

                                            </form>

                                        </div>

                                        <div class="model-footer">
                                            <button type="button" class="btn btn-secondary float-right"
                                                    data-dismiss="modal">Close
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </table>
                </div>

                <div id=mymodal class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Add Pilot</h4>
                            </div>
                            <div class="modal-body">
                                <form action="{{ url_for('pilot_insert') }}" method="POST">

                                    <div class="form-group">
                                        <label> Initials(2):</label>
                                        <input type="text" class="form-control" name="pilot_initials" required="1">
                                    </div>
                                    <div class="form-group">
                                        <label> Full Name:</label>
                                        <input type="text" class="form-control" name="pilot_name" >
                                    </div>

                                    <div class="form-group">
                                        <label> email:</label>
                                        <input type="email" class="form-control" name="email" >
                                    </div>

                                    <div class="form-group">
                                        <label> Phone:</label>
                                        <input type="phone" class="form-control" name="phone" >
                                    </div>

                                    <div class="form-group">
                                        <label> Club Member</label>
                                        <input type="text" class="form-control" name="club_member" required="1">
                                    </div>

                                    <div class="form-group">
                                        <label> Contact</label>
                                        <input type="text" class="form-control" name="contact" required="1">
                                    </div>

                                    <div class="form-group">
                                        <button class="btn-primary" type="submit">Add Pilot</button>
                                    </div>
                                </form>
                            </div>
                            <div class="model-footer">
                                <button type="button" class="btn btn-secondary float-right" data-dismiss="modal">Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}